[submodule "provisioning/roles/ansible-vim"]
	path = provisioning/roles/ansible-vim
	url = https://github.com/veggiemonk/ansible-vim
[submodule "provisioning/roles/ansible-role-sublimetext"]
	path = provisioning/roles/ansible-role-sublimetext
	url = https://github.com/jdauphant/ansible-role-sublimetext.git
[submodule "provisioning/roles/ansible-pip"]
	path = provisioning/roles/ansible-pip
	url = https://github.com/bobbyrenwick/ansible-pip.git
