# general libs
requests==2.9.2
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
Pillow==3.2.0
paramiko==2.0.2
passlib==1.6.5
path.py==8.1.2
reportlab==3.0
pyserial==2.6
python-telegram-bot==3.3
ipdb==0.10.0
ipython==5.0.0

